body {
	min-width: 800px;
	background-color: #E2E9EE/*#B6C1C3*/;
}


nav {
	width: 100%;
	margin: 0 auto;
	border: none;
}

nav.navbar {
	border: none;
	border-bottom: 1px solid #1E7299;
}

.navbar-collapse, .navbar-header {
	background-color: #2E3438;
}


nav .navbar-brand span.mainHeader { /* The brand */
	font-size: 32px;
	color: #A03D27;
}


a.selected {
	background: #2F4351;
}


div.main {
	width: 60%;
	margin: 0 auto;
	background-color: #1B1813 /*#070808*/;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 0em;
	padding-bottom: 2em;
	border: 1px solid #E2E9EE;
	box-shadow: 5px 5px 10px #2F4351, -5px 5px 10px #2F4351;
}


.header {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #2E3438;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #872626; 
}
 
 
h1 span.mainHeader  {
	color: #466472;
	font-size: 1.5em;
}


.calculator {
	margin-top: 4em;
}


section.column {
	background-color: #2E3438;
	padding: 1em;
	border-radius: 1em;
	border-top-left-radius: 0;
	
}

div.section-group {
	padding-top: 2em;
	padding-left: 10em; 
}


h1.header {
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	padding: 0.5em 0 0.5em 1em;
	}
	

h1 {
	font-family: sans-serif;
	letter-spacing: 1px;
	text-align: left;
	margin: 1em 0 1.5em 0;
}

.genesys h1,
.carbonato h1, label {
	color: #6E7172;
	font-size: normal;
}


h1.produto {
	font-size: 1.5em;
	font-weight: normal;
	padding-bottom: 1em;
}

h1.about {
	padding-bottom: 0em;
}

 label {
	
 }


p {
	font-size: 1.5em;
	margin-top: 2em;
	/*color: #A1A4A5;*/
	font-weight: normal;
	color: #6E7172;
}

p.about-text {
	text-indent: 1em;
	padding: 0em .5em 1em .5em;
}

div.inputs {
	display: inline-block;
}

form.inputs {
	margin-top: -1em;
}
	
input[type="text"] {
	width: 30%;
	height: 45px;
	font-size: 2em;
	text-align: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #E1DCDB;
	margin-left: 1em;
}

input[type="button"] {
	height: 45px;
	font-size: 1.2em;
	background-color: #872626;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #A1A4A5;
	vertical-align: 3px;
}

input[type="button"]:hover {
	background-color: #850F00;
}

input[type="text"]:focus { 
    background-color: #DBE0E1;
    }

input[type="text"]:hover {
    background-color: #DBE0E1;
    }

input[type=radio] {
	position: relative;
	display: inline;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-top: .2em;
	/*margin-left: 1em;*/
	/*outline: 2px solid #286090;*/
 }
 
 input[type=radio]#carbonato {
	margin-left: 3em;
 }
 
 div.footer {
	height: 4em;
	margin-top: 5px;
	color: #fff;
	/*background-color: #2E3438;*/
 }
 
 div.footer p {
	font-size: 1em;
	color: #466472;
	padding: 0px 0px 0px 10px;
 }


@media screen and (min-width: 400px) {
	div.main {
		width: 100%;
	}
 
	input[type=radio]#carbonato {
		
	}
	
	input[type=radio]#genesys {
		margin-left: -4em;
	}
 
	input[type="text"] {
	
	}

 
}


@media screen and (min-width: 1000px) {
	div.main {
		width: 80%;
	}

}


@media screen and (min-width: 1300px) {
	div.main {
		width: 70%;
	}
	
	nav ul {
		margin-left: -0.3em;
	}

}


@media screen and (min-width: 1500px) {
	div.main {
		width: 60%;
	}
	
}
