body {
	background-color: #B6C1C3;
}

header {
	width: 100%;
	height: 4em;
	margin: 0 auto;
	background-color: #2E3438;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #872626; 
}
 
h1 span.mainHeader  {
	color: #A03D27;
	font-size: 1.5em;
}

main {
	
	width: 60%;
	min-width: 800px;
	/*height: 400px;*/
	margin: 0 auto;
	background-color: #070808;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 0em;
	padding-bottom: .5em;

}

section.column {
	background-color: #2E3438;
	width: 90%;
	height: 10em;
	position: relative;
	margin: 1em auto;
	/*min-height: 8em;*/
	padding: 1em;
	border-radius: 1em;
}

section div.section-group {
	margin-top: -1em;
}


header h1 {
	text-align: left;
	color: #5E7682;
	font-size: 1.4em;
	font-weight: normal;
	padding: 0.5em 0 0.5em 1em;
	}

h1 {
	font-family: sans-serif;
	letter-spacing: 1px;
	text-align: left;
	margin: 1em 0 1.5em 0;
}

.genesys h1,
.carbonato h1, label {
	color: #6E7172;
	font-size: normal;
}

 label {
	
 }


p {
	font-size: 1em;
	margin-top: 2em;
	color: #A1A4A5;
}

div.inputs {
	display: inline-block;
}

form.inputs {
	margin-top: -1em;
}
	
input[type="text"] {
	width: 45%;
	height: 30px;
	font-size: 1em;
	text-align: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #E1DCDB;
	margin-left: 1em;
}

input[type="button"] {
	height: 37px;
	font-size: 1em;
	background-color: #872626;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #A1A4A5;
	vertical-align: 0px;
}

input[type="button"]:hover {
	background-color: #850F00;
}

input[type="text"]:focus { 
    background-color: #DBE0E1;
    }

input[type="text"]:hover {
    background-color: #DBE0E1;
    }

input[type=radio] {
	position: relative;
	display: inline;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-top: .2em;
	/*margin-left: 1em;*/
	outline: 2px solid #286090;
 }
 
 input[type=radio]#carbonato {
	margin-left: 3em;
 }
